/* CSS files add styling rules to your content */

body {
  background: #CCC;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

header {
  background: #07603b;
}

header div h1 {
  color: #601407;
  text-align: center;
  padding-left: 20px;
  font-family: helvetica, 'san serif';
}

header div h1.float {
  float: left;
}

header div a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  float: right;
  margin: 10px;
  padding: 10px;
  font-style: italic;
}

a:hover {
  background: blue;
}

#clear {
  clear: both;
}

main {
  margin: auto;
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  width: 300px;
  border: 1px solid teal;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #C0C0C0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

section#update-issue,
section#create-issue,
section#delete-form {
  height: 0%;
}

#select-project div {
  padding: 0 10px;
}

.header {
  background: #336699;
  padding: 0 10px;
  border-bottom: 3px solid brown;
  margin-bottom: 10px;
}

.header h2 {
  margin: auto;
  font-family: bookman, 'san serif';
  color: #cdcdcd;
}

.inputs {
  padding: 2px 10px;
  width: 100%;
  display: flex;
  margin-bottom: 3px;
}

.inputs label {
  width: 100px;
  text-align: right;
  margin-right: 5px;
  opacity: 0.8;
}

.inputs label span {
  color: red; 
  margin: 0 3px;  opacity: 1;
}

.inputs textarea {
  resize: none
}

input[type='text'], textarea {
  background: #cfcfcf;
  border: none;
  border-bottom: 2px solid #600719;
  font-size: 14px;
  padding: 5px;
  width: 161px;
}

input[type='text']:focus, textarea:focus {
  outline: none;
  border-color: #07603b;
}

.btn {
  padding-left: 114px;
}

.btn input {
  background: blue;
  padding: 4px 10px;
  border: none;
  width: 70px;
  border-bottom: 2px solid blue;
}

.btn input:hover {
  color: #fff;
  border-color: #07603b;
}

#response {
  display: block;
  position: absolute;
  top: 500px;
  left: 360px;
  width: 600px;
  height: 170px;
  border: 3px groove teal;
  border-radius: 0%;
}

#response #response-container {
  height: 114px;
  margin: 0 13px;
  padding: 0 15px;
  overflow: auto;
  background: #000;
}

#response-text {
  overflow-wrap: break-word;
}

#response .nomal {
  color: #fff;
  border: 3px groove;
}

#response .error {
  color: #f00;
  border: 3px groove #f00;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
